* {
     font-family: 'Do Hyeon', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-size: 1.2vw;
}
body{
    background:#302F31;
    height: 100vh;
    background-image: url("../assets/indexBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#login {
  display: flex;
}

form {
   margin:1vw 0;
   justify-self: center;
}
form input[type='text']{
    border: none;
    padding: 5px;
    border-bottom: .2vw solid black;
    background-color: inherit;
    font-size: 1.2vw;
    color: black;
    margin-right: 2vw;
    outline: none;
}

form input[type='submit']{
     background: none;
     border: .2vw solid #0B0A0A;
     border-radius: 5px;
     color:#0B0A0A;
     cursor:pointer;
     font-weight: bold;
     padding:.5vw;
     transition-duration: .3s;
}
form input[type='submit']:hover {
  background-color: black;
  color: white;
  border-color: black;
}
#historico_mensagens{
     background: #FFF;
     height: 90vh;
}

#historico_mensagens p {
  margin: 1vw .5vw;
}

#historico_mensagens h2, #historico_mensagens h3  {
  margin: 1vw 10vw;
  color: green;
  font-size: 1.2vw;
}

#historico_mensagens h3 {
  color: red !important;
}

#sala_chat{
   display: none;
   height: 100vh;
}

#sala_chat select {
  background-color: #11121e;
  direction: rtl;
  text-align: center;
  scrollbar-width: none;
}

#lista_usuarios{
  width: 20%;
}
#lista_usuarios option {
  color: white;
}

#acesso_usuario{
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
#acesso_usuario form{
     margin:0;
}

.mensagem_container {
  background-color: #fff;
  display: grid;
  width: 100vw;
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
}
